.div-style{
  border:2px solid lightblue;
  width:400px;
  height:300px;
  text-align:center;
  float:left;
}
.btn-style{
  background-color:lightblue;
  margin: 5px 10px;
  width:120px;
  height:50px;
  font-size:12pt;
}
.text-color-lightblue{color:lightblue;}
.change-bac{background-color: lightblue; color:white;}