.div-style{
  position:absolute;
  top:0;
  height:400px;
  width:99%;
  background-color:lightgreen;
  text-align:center;
}
.display-text{
  display:none;
}
@media only screen and (max-width:600px){
  .div-style{
     background-color:lightblue;
  }
  .display-text{
    display:block;
  }
}