.div-style-1{
  width:300px;
  height:300px;
  background-color:red;
}
.margin-left-35{
  margin-left:35%;
  margin-top:25px;
}
.div-style-2{
  position:absolute;
  top:68px;
  width:300px;
  height:300px;
  background-color:orange;
  opacity:0.6;
  transform:translate(50px,50px);
  text-align:center;
}
.div-style-3{
  position:absolute;
  top:68px;
  width:300px;
  height:300px;
  background-color:orange;
  opacity:0.6;
  transform:rotate(20deg);
  text-align:center;
}
