body{
    background-image: url('hospitalImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1
{
color: cadetblue;
}
#center-box{
    position: absolute;
    top: 50%;
    left:20%;
    transform: translate(-20%,-50%);
    border:2px solid cadetblue;
    border-radius: 20px;
    background-color: rgb(253, 250, 235);
    box-shadow: 5px 10px 18px cadetblue;
    color:cadetblue;
    padding-top: 140px;
    padding-bottom: 180px;
    padding-left: 30px;
    padding-right: 30px;
}
td{
    padding-top: 20px;
}
#userNameLabel{
    color: cadetblue;
}
#userNameTextField{
    border: 2px solid cadetblue;
    border-radius: 4px;
}
#passwordLabel{
    color: cadetblue;
}
#passwordTextField{
    border: 2px solid cadetblue;
    border-radius: 4px;
}
#submitButton{
    background-color: cadetblue;
    color:rgb(253, 250, 235);
    border:2px solid cadetblue;
    border-radius: 8px;
    box-shadow: 6px 8px 10px cadetblue;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
#submitButton:hover{
    background-color:rgb(253, 250, 235);
    color: cadetblue;
}
